<section style="background-image: url(https://st4.depositphotos.com/1001941/20382/v/1600/depositphotos_203824178-stock-illustration-online-shopping-isometric-concept-mobile.jpg);"></section>

<h1 style="text-align: center; margin-top: 20px;"><strong> New products</strong></h1>


<header class="header" style="margin-bottom: 10%;">



  <div class="container-css">
    {{#each products}}
    <div class="row mt-5" >

      <div class="card" style="width: 300px; ">
        <img src="/product-images/{{this._id}}.png" class="card-img-top" alt="...">
        <div class="card-body" style="">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">Category:{{this.category}}</p>
          <p class="card-text">Rs:{{this.price}}</p>
         
          <button class="btn btn-primary" onclick="addtoCart('{{this._id}}')">Add to cart</button>
           <button  style="display: inline;" class="btn btn-success"><a href="/buy">Buy</a></button>
        </div>
      </div>

    </div>

{{/each}}
  </div>

  </header>
  

  
